*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}
.bg{
    background-image: url("media/body.jpg");
    background-attachment:fixed;
    filter: brightness(80%);
    width:100%;
    height:626px;
}
.container-fluid .navbar-brand{
    font-size: 25px;
    font-family: 'Courier New', Courier, monospace;
    font-weight: bolder;
    color: rgb(255, 161, 37);
}
.navbar{
    background-color:black;
}
.banner-info{
    padding-top: 200px;
    text-align: center;
}
.collapse .navbar-nav .nav-item a{
    color: rgb(255, 161, 37);
    font-size: 18px;
    
}
.banner-info-heading{
    font-size: 38px;
    color:rgb(255, 161, 37);
    font-weight: bolder;
}
.banner-info-p{
    font-size: 48px;
    font-weight: bolder;
    color:black;
}
.banner-info-submit{
    width: 180px;
    height: 40px;
    border: none;
    background-color: rgb(255, 161, 37);
    color: aliceblue;
    border-radius: 10px;
    font-size: 20px;
}
/****************************services**********************************/
#services{
    margin: 50px;
}
.services-heading{
    text-align: center;
    color:rgb(129, 129, 255);
    padding-top: 50px;
}
.services-paragraph{
    padding-top:10px ;
    text-align: center;
    font-size: 18px;
}
.services-card{
    text-align: center;
    padding-top: 30px;
    margin: 0px auto;
}
.icon{
    width: 85px;
    height: 85px;
    font-size: 35px;
    background-color:rgb(129, 129, 255);
    padding-top: 20px;
    border-radius: 50px;
}
/**************************************portfolio*************************************************/
#portfolio{
    background-color: rgb(199, 199, 199);
}
.port-heading{
    text-align: center;
    color:rgb(129, 129, 255);
    padding-top: 50px;
}
.port-paragraph{
    padding-top:10px ;
    text-align: center;
    font-size: 18px;
}
.p-card{
    padding: 20px;
}
.card-body{
    text-align: center;
    background-color: white;
}

/*********************************************************************************************/
.oat-heading{
    text-align: center;
    color:rgb(129, 129, 255);
    padding-top: 50px;
}
.oat-paragraph{
    padding-top:10px ;
    text-align: center;
    font-size: 18px;
}
.oat{
    width: 200px;
    height: 200px;
    border-radius: 160px;
    margin: 0px auto;
}
#ourteam{
    margin: 50px;
}
.footer-section{
    text-align: center;
    color: white;
    font-weight: bold;
    height: 50px;
}
.footer-content{
    padding-top: 10px;
}
/*************************************************************************/
@media(min-width:992px)
{

}
@media(min-width:768px) and (max-width:991px)
{

}
@media(min-width:575px) and (max-width:767px)
{
    .services-heading{
        padding-top: 10px;
    }
    .services-paragraph{
        font-size: 10px;
    }
    .banner-info-heading{
        font-size: 28px;
    }
    .banner-info-p{
        font-size: 34px;
    }
    .port-heading{
        padding-top: 20px;
    }
    .port-paragraph{
        font-size: 16px;
    }
    .p-card{
        margin: 20px;
    }
    .oat-heading{
        padding-top: 20px;
    }
    .footer-content{
        font-size: 16px;
    }

}
@media(min-width: 480px) and (max-width: 574px)
{
    .banner-info-heading{
        font-size: 28px;
    }
    .banner-info-p{
        font-size: 34px;
    }
    .port-heading{
        padding-top: 20px;
    }
    .port-paragraph{
        font-size: 16px;
    }
    .p-card{
        margin: 20px;
    }
    .oat-heading{
        padding-top: 20px;
    }
    .footer-content{
        font-size: 16px;
    }
}
@media(max-width:479px)
{
    .banner-info-heading{
        font-size: 22px;
    }
    .banner-info-p{
        font-size: 24px;
    }
    .footer-content{
        font-size: 12px;
    }
}